@import '../../StyleConstants.scss';

.container {
    width: 100%;
    height: calc(100% - 64px);
    background-color: $almost-black-darker;
    overflow-y: auto;

    button {
        width: 120px;
        height: 36px;
        border-radius: 5px;
        background-color: $secondary;
        color: $primary;
        font-size: 14px;
        margin: 10px;
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border:none;

        .icon {
            width: 24px;
            height: 24px;
        }

        &:hover{
            cursor: pointer;
            background-color: $secondary-hover;
        }
    }

    .row {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        align-items: center;
        background-color: $almost-black-lighter;
        margin-top: 2px;
        border-bottom: 1px solid $almost-white;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        color: $primary;

        .right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 180px;
        }

        .icon{
            &:hover{
                cursor: pointer;
                color:$secondary;
            }
        }

    }

}