$almost-black-opaque:rgb(27, 27, 27);
$almost-black-darker:#000000b4;
$almost-black-darker-darker:#000000de;
$almost-black:#1e1e1eb6;
$almost-black-lighter:#00000049;
$almost-white-darker:#9e9e9ea6;
$almost-white:#e2e2e2;
$primary:#ffffff;
$almost-white:#ffffff17;
$secondary:#0084ff;
$secondary-hover:#0058ab;
$primary-dark:#ffffff9f;